<form class="transaction-form ui form" {{action "submitForm" on="submit"}}>
  <div class="field">
    {{input class="name_field" label="Name" value=name}}
  </div>

  <div class="field">
    {{input class="amount_field" label="Amount" type="number" value=amount}}
  </div>

  <div class="field">
    {{input class="date_field" label="Date" value=date}}
  </div>

  <div class="field">
    {{input class="frequency_field" label="Frequency" value=frequency}}
  </div>

  <div class="field">
    {{input class="end_date_field" label="End Date (optional)" value=endDate}}
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>
